*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;

}
html,body{
    width: 100%;
    height:100%;
   
    
}
.wrapper{
    border:2px solid #7D577A;
    width: 20vw;
    height: 180vh;
    display: flex;
    position: relative;
    background-color: #E1D5E7;
    
   
}
.slidebar{
   margin: 0px;
   
}
h2{
    color: #B5739D;
    padding: 10px;
    border: 2px solid #E1D5E7;
    border-radius: 5%;
    text-align: center;

}
ul{
    width: 20vw;
    text-align: center;
}
li{
    font-weight: bold;
    align-items: center;
    border: 2px solid #7D577A;
    padding: 10px;
    border-radius: 5%;
    /* width: 20vw; */
    justify-content: center;
    font-size: larger;
}
.user{
    position: absolute;
    bottom: 0%;
    width: 20vw;

}
#col{
   background-color:#7D577A;
   
}
#col a{
    color: #B5739D;
}
li a{
    color: #B5739D;
}
i{
    
    border: 2px solid #7D577A;
    padding: 4px;
   float: left;
   font-size: 20px;
   width: 2.5rem;
   height: 32px;
   color: white;


}

nav{
    left: 20%;
    background-color: #E1D5E7;
    width:80vw;
    position:absolute;
    top: 0;
    height: 8vh;
    padding: 2px;
    border: 2px solid;
    
}
nav i{
   
   float: right;
   border: 2px solid #7D577A;
   border-radius: 10%;
   width: 3vw;
   padding: 0.75vh;
   margin-top: 5px;
}
.search{
    border:2px solid #7D577A;
    width: 20vw;
    height: 5vh;
    position: absolute;
    left:77.5%;
    top: 0.2%;
    background-color: #E1D5E7;
    margin-top: 7px;
    
}

.images{
    width: 80vw;
    height: 6vh;
    border: 2px solid black;
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%;
   font-size: larger;
   background-color:#FFF2CC;
   position: absolute;
   top:11%;
   left:60.5%;
   transform: translate(-50%, -50%); 
}
#image{
    position: absolute;
    top: 15%;
    left: 21%;
    border: 2px solid black;
    
}
.vdos{
    width: 80vw;
    height: 6vh;
    border: 2px solid black;
   border-top-left-radius: 5%;
   border-top-right-radius: 5%;
   border-bottom-left-radius: 5%;
   border-bottom-right-radius: 5%;
   font-size: larger;
   background-color:#FFF2CC;
   position: absolute;
   top:116%;
   left:60.5%;
   transform: translate(-50%, -50%); 
}
#vdo{
    position: absolute;
    top: 120%;
    left: 21%;
    border: 2px solid black;
    
}
.ados{
    
        width: 79vw;
        height: 6vh;
        border: 2px solid black;
       border-top-left-radius: 5%;
       border-top-right-radius: 5%;
       border-bottom-left-radius: 5%;
       border-bottom-right-radius: 5%;
       font-size: larger;
       background-color:#FFF2CC;
       position: absolute;
       top:173%;
       left:60%;
       transform: translate(-50%, -50%); 
    
}
#ado{
    position: absolute;
    top: 176%;
    left: 21%;
    border: 2px solid black;
}
